!!! 5

%head
  %title Timmocs 2
  %link{ href: 'stylesheets/normalize.css', rel: 'stylesheet', type: 'text/css'}
  %link{ href: 'stylesheets/all.css', rel: 'stylesheet', type: 'text/css'}
  %script{ src: 'javascripts/all.js' }
  %meta{ name: 'viewport', content: "width=device-width" }

%body
  .nav-container
    .nav
      = previous_page
      = next_page

  = yield
