%img{ src: 'images/branch_update_point.svg' }

= text 'In the case above, Ved updates the original branch to point to the timmoc on the branch with the new features.'


- cmds do
  [happy]: git log --oneline --decorate
  2cbc5eb (HEAD -> happy) add mouth
  e1d03f7 add nose
  36e3d87 (master) initial commit

  [happy]: git checkout master
  Switched to branch 'master'

  [master]: git merge happy
  Updating 36e3d87..2cbc5eb
  Fast-forward
  face.txt | 2 ++
  1 file changed, 2 insertions(+)
  create mode 100644 face.txt
