%img{ src: 'images/branch_pointers.svg' }

= text 'One timmoc can have more than one child timmmoc. When this happens, we get a new branch on the family tree.'

- cmds do
  [sad]: git log sad --oneline --decorate
  7c21510 (HEAD -> sad) add sad mouth
  50bef7a add nose
  5634cae initial commit

  [sad]: git log master --oneline --decorate
  b8534de (master) add mouth
  50bef7a add nose
  5634cae initial commit
