%img{ src: 'images/branch_pointers.svg' }

= text 'One timmoc can have more than one child timmmoc. When this happens, we get a new branch on the family tree.'

#code-container
  :code
    # lang: shell
      [sad]: git log --oneline --decorate
      c904622 (HEAD -> sad) add sad mouth
      b687b7e add nose
      141170e initial commit

      [sad]: git log master --oneline --decorate
      f0c4c4d (master) add mouth
      a46f7a4 add nose
      141170e (HEAD -> sad) initial commit
