%img{ src: 'images/branch_moved_forward.svg' }

= text 'As new timmocs are created on a branch, the pointer just moves forward.'

- cmds do
  [sad]: git log sad --oneline --decorate
  22675f3 (HEAD -> sad) add sad mouth
  2edb9c5 add nose
  19acc53 (master) initial commit
