%img{ src: 'images/branch_pointers_head.svg' }

= text 'There is also a special pointer called HEAD which points to the one of the branch pointers.'

- cmds do
  [sad]: git checkout master
  Switched to branch 'master'

  [master]: git log master --oneline --decorate
  72a4252 (HEAD -> master) add mouth
  dd88178 add nose
  616d22e initial commit
