%img{ src: 'images/generations.svg' }

= text 'Over many generations, Ved can decide to add and remove various features.'

#code-container
  :code
    # lang: shell

      [master]: git log --oneline --decorate
      f0c4c4d (HEAD -> master) add mouth
      a46f7a4 add nose
      141170e initial commit
