%img{ src: 'images/rebase_ff.svg' }

= text 'Now when we merge the hairy branch back into the original branch, the pointer just gets moved forward to the latest commit.'

- cmds do
  [hair]: git checkout horns
  Switched to branch 'horns'

  [horns]: git merge hair
  Updating bd00055..1783d82
  Fast-forward
  face_2.txt | 2 ++
  1 file changed, 2 insertions(+)
  create mode 100644 face_2.txt
