%img{ src: 'images/rebased.svg' }

= text 'When Ved is done, it really looks like there was only one branch.'

- cmds do
  [horns]: git branch -d hair
  Deleted branch hair (was 1783d82).

  [horns]: git log --oneline --decorate
  1783d82 (HEAD -> horns) add beard
  046b8ea add hair
  bd00055 add the other horn
  6347ad7 add one horn
  946d00b (master) initial commit
