%img{ src: 'images/generations_with_pointers.svg' }

= text 'Thankfully, no timmocs are harmed in the process, they are all just on the master branch.'

- cmds do
  [master]: git log --oneline --decorate
  496e068 (HEAD -> master) add mouth
  c1318b7 add nose
  3690d0a initial commit
