%img{ src: 'images/thats_all.svg' }

= text "That\'s all I have for now, I hope to add more in the future. And I'd like to tie all this back to real-life git somehow. If you have thoughts, leave comments on the blog post."
