%img{ src: 'images/timmocs_are_not_people.svg' }

= text "Timmocs aren't like people. Usually it only takes one timmoc to make a child timmoc."

#code-container
  :code
    # lang: shell

      [master]: git log --oneline --decorate
      a46f7a4 (HEAD -> master) add nose
      141170e initial commit
