%img{ src: 'images/timmocs_are_not_people.svg' }

= text "Timmocs aren't like people. Usually it only takes one timmoc to make a child timmoc."

- cmds do
  [master]: git log --oneline --decorate
  09fb489 (HEAD -> master) add nose
  e6faaf8 initial commit
