%img{ src: 'images/timmocs_are_not_people.svg' }

= text "Timmocs aren't like people. Usually it only takes one timmoc to make a child timmoc."

%pre#code-container
  = cmd '[master]: git log  --oneline --decorate'
  = diff_line 'a46f7a4 (HEAD -> master) add nose'
  = diff_line '141170e initial commit'
