%img{ src: 'images/two_parents.svg' }

= text 'When two branches are merged, that means you have a timmoc with two parents.'

- cmds do
  [glasses]: git merge curly
  Merge made by the 'recursive' strategy.
  face.txt | 1 +
  1 file changed, 1 insertion(+)
  create mode 100644 face.txt

  [glasses]: git log --oneline --decorate
  2e7787b (HEAD -> glasses) Merge branch 'curly' into glasses
  c82b600 add glasses
  8886eb9 (curly) add curl
  3690d0a (master) initial commit
