%img{ src: 'images/two_parents.svg' }

= text 'When two branches are merged, that means you have a timmoc with two parents.'



#code-container
  :code
    # lang: ruby
      [glasses]: git merge curly
      Merge made by the 'recursive' strategy.
       ...

      [glasses]: git log --oneline --decorate
      57244ed (HEAD -> glasses) Merge branch 'curly' into glasses
      2183ff9 added glasses
      06ffc41 (curly) add curly
      86556c8 (master) initial commit
