%img{ src: 'images/what_is_branch_pre_switch.svg' }

= text 'When a new branch is created it just points to the commit HEAD points to.'

- content_for :code_container do
  = cmd '[master]: git branch sad'

  = cmd '[master]: git log --oneline --decorate'
  = commit_line '141170e (HEAD -> master, sad) initial commit'
