%img{ src: 'images/what_is_branch_pre_switch.svg' }

= text 'When a new branch is created it just points to the commit HEAD points to.'

- cmds do
  [master]: git branch sad

  [master]: git log --oneline --decorate
  c3d688c (HEAD -> master, sad) initial commit

