%img{ src: 'images/what_is_branch.svg' }

= text 'Usually, HEAD is moved to the new branch as well, so Ved can make changes on that branch.'

- cmds do
  [master]: git checkout sad
  Switched to branch 'sad'

  [sad]: git log --oneline --decorate
  8f968cf (HEAD -> sad, master) initial commit
